.DS_Store
Software/.DS_Store
Software/Arduino/.DS_Store
Software/Arduino/libraries/.DS_Store
software/OnSpeed-Gen3-ESP32/OnSpeed_Gen3-ESP32.vcxproj
software/OnSpeed-Gen3-ESP32/OnSpeed_Gen3-ESP32.sln
software/OnSpeed-Gen3-ESP32/OnSpeed_Gen3-ESP32.vcxproj.user
software/OnSpeed-Gen3-ESP32/OnSpeed_Gen3-ESP32.vcxproj.filters
